<md-content layout="column" layout-padding id="dialPad">
    <h3 layout="row" layout-align="center center">
        {{codeInput[0]}} {{codeInput[1]}} {{codeInput[2]}}
    </h3>
    <div layout="row" layout-align="center center" style="margin:0 0 0 0; padding: 0 0 0 0;">
        <md-button ng-click="changeCode(1)" aria-label="1" class="md-fab md-raised md-primary">
            1
        </md-button>
        <md-button ng-click="changeCode(2)" aria-label="2" class="md-fab md-raised md-primary">
            2
        </md-button>
        <md-button ng-click="changeCode(3)" aria-label="3" class="md-fab md-raised md-primary">
            3
        </md-button>
    </div>
    <div layout="row" layout-align="center center" style="margin:0 0 0 0; padding: 0 0 0 0;">
        <md-button ng-click="changeCode(4)" aria-label="1" class="md-fab md-raised md-primary">
            4
        </md-button>
        <md-button ng-click="changeCode(5)" aria-label="2" class="md-fab md-raised md-primary">
            5
        </md-button>
        <md-button ng-click="changeCode(6)" aria-label="3" class="md-fab md-raised md-primary">
            6
        </md-button>
    </div>
    <div layout="row" layout-align="center center" style="margin:0 0 0 0; padding: 0 0 0 0;">
        <md-button ng-click="changeCode(7)" aria-label="1" class="md-fab md-raised md-primary">
            7
        </md-button>
        <md-button ng-click="changeCode(8)" aria-label="2" class="md-fab md-raised md-primary">
            8
        </md-button>
        <md-button ng-click="changeCode(9)" aria-label="3" class="md-fab md-raised md-primary">
            9
        </md-button>
    </div>
    <div layout="row" layout-align="center center" style="margin:0 0 0 0; padding: 0 0 0 0;">
        <md-button ng-click="changeCode(0)" aria-label="3" class="md-fab md-raised md-primary">
            0
        </md-button>
    </div>
</md-content>